% rebase('base.html')

<h1>Dobrodošli v redovalnici!</h1>

<p>Izberite šolsko leto, ki bi ga radi urejali.</p>
<p>Lahko pa tudi dodate novo šolsko leto ali izbrišete katerega od obstoječih.</p>

<h1>Vaša šolska leta</h1>
<ul>
    % if leta == []:
    <li>Trenutno nimate vpisanega nobenega šolskega leta</li>
    %end
    % for index, leto in enumerate(leta):
    <li>
        <a href="/solsko_leto/{{ int(index) }}/">{{ leto.ime }}</a> - Trenutno povprečje: {{leto.povprecje()}}
    </li>
    % end
</ul>

<h2>Vpis novega šolskega leta</h2>
<p>Pozor! Vpisati je potrebno še neuporabljeno ime.</p>
<p>Vpis potrdite s pritiskom na gumb.</p>
<form action='/dodaj_solsko_leto/' method="POST">
    Ime šolskega leta: <input type="text" name="Ime">
    <input type="submit" value="Dodaj šolsko leto!">
</form>

<h2>Izbris šolskega leta</h2>
<p>Na spustnem seznamu izberite šolsko leto, ki bi ga radi izbrisali.</p>
<p>Izbris potrdite s pritiskom na gumb.</p>
<form action='/izbrisi_solsko_leto/' method="POST">
    Ime šolskega leta: 
    <select name="Ime">
        % for leto in leta:
        <option>{{leto.ime}}</option>
        % end
    <input type="submit" value="Izbriši šolsko leto!">
</form>