% rebase('base.html')
<h1>Trenutno šolsko leto: {{leto.ime}}</h1>
<p>Imate naslednje možnosti:
    <ul>
        <li>Dodajte predmet ali izbrišite katerega od predmetov.</li>
        <li>Predmetu nastavite število kolokvijev.</li>
        <li>Vpišite ali izbrišite rezutat s kolokvija.</li>
        <li>Vpišite ali izbrišite oceno.</li>
    </ul>
</p>
<h2>Vaši predmeti, rezultati s kolokvijev in ocene</h2>
<ul>
% for pr in predmeti:
    <li>
        {{ pr.ime }}
    </li>
% end
</ul>
<form action='/solsko_leto/{{ int(index) }}/dodaj_predmet/' method="POST">
    Ime predmeta: <input type="text" name="ime">
    Število kolokvijev: <input type="text" name="st">
    <input type="submit" value="Dodaj predmet!">
</form>